TRIPRISK_MODEL_SOURCE=local

TRIPRISK_MODEL_PATH=artifacts/model.joblib

TRIPRISK_RISK_THRESHOLD=0.5

TRIPRISK_MLFLOW_TRACKING_URI=http://127.0.0.1:5000

TRIPRISK_REGISTERED_MODEL_NAME=TripRiskClassifier

TRIPRISK_MODEL_ALIAS=champion

TRIPRISK_LOG_LEVEL=INFO