.venv/
__pycache__/
*.pyc

.pytest_cache/
.ruff_cache/

.coverage
htmlcov/

.env

.vscode/

*.log

mlflow.db
mlartifacts/
mlruns/

airflow/.env

airflow/logs/*
!airflow/logs/.gitkeep

airflow/data/*
!airflow/data/.gitkeep

airflow/config/*
!airflow/config/.gitkeep